* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: auto;
  background-position: bottom;
}

h1 {
  padding-top: 20px;
  padding-left: 20px;
  color: gray;
}

main {
  width: 840px;
  margin: 50px auto;
}

.nav1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.nav2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.nav3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.nav4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}